# Question 1 : 
    Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [71]:
#import libraries

import selenium
import pandas as pd
from selenium import webdriver
import time

In [4]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [5]:
url = 'https://www.naukri.com/'
driver.get(url)

In [6]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [7]:
#write on search bar
search_job.send_keys("Data Analyst")

In [8]:
#finding element for job location bar
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [9]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [29]:
#extract data from webpage-job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [22]:
job_titles =[]
for i in titles_tags[:10]:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [30]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [23]:
company_names=[]
for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'Allegis Services India Pvt. Ltd.',
 'Applied Materials',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [15]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [24]:
experience_list=[]
for i in experience_tags[:10]:
    experience_list.append(i.text)
experience_list

['0-3 Yrs',
 '0-5 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '4-9 Yrs']

In [31]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [25]:
location_list=[]
for i in location_tags[:10]:
    location_list.append(i.text)
location_list

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [26]:
print(len(job_titles), len(company_names), len(experience_list), len(location_list))

10 10 10 10

In [27]:
import pandas as pd

jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['experience']=experience_list

In [28]:
jobs

,title,company,location,experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,0-5 Yrs
2,Data Analyst,Applied Materials,Bangalore/Bengaluru,7-10 Yrs
3,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,Bangalore/Bengaluru,2-4 Yrs
4,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4-9 Yrs
5,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs
6,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",12-18 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-9 Yrs

# Question 2 :
    Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [2]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [5]:
#write on search bar
search_job.send_keys("Data Scientist")

In [6]:
#finding element for job location bar
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [7]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [8]:
#extract data from webpage-job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [9]:
job_titles =[]
for i in titles_tags[:10]:
    job_titles.append(i.text)
job_titles

[]

In [10]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [11]:
location_list=[]
for i in location_tags[:10]:
    location_list.append(i.text)
location_list

[]

In [12]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [13]:
company_names=[]
for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

[]

In [ ]:
job_url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [ ]:
Job_Desc=[]
for i in job_url[:10]:
    
    job_url.click()
    Job_Links= driver.find_elements_by_xpath("//section[@class='job-desc']")
    company_names.append(i.text)
    
Job_Links

# Question 3 :
    In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company_name, experience_required.The location filter to be used is “Delhi/NCR”.The salary filter to be used is “3-6” lakhs

In [15]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [16]:
url = 'https://www.naukri.com/'
driver.get(url)
time.sleep(3)

In [17]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [18]:
#write on search bar
search_job.send_keys("Data Scientist")

In [19]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [32]:
location= driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']")[1]
location.click()

In [33]:
salary= driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']")[5]
salary.click()

In [34]:
#extract data from webpage-job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [35]:
job_titles =[]
for i in titles_tags[:10]:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Business Analyst- Data Scientist',
 'Excellent opportunity For Data Scientist',
 'Data Scientist',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'Data Scientist - Noida',
 'Data Scientist',
 "Data Scientist - Noida/ B'lore"]

In [36]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [37]:
location_list=[]
for i in location_tags[:10]:
    location_list.append(i.text)
location_list

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru']

In [38]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [39]:
company_names=[]
for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'Ravgins International Pvt. Ltd.',
 'Wipro',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Mobikwik',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Optum Global Solutions (India) Private Limited',
 'Cloudstrats Technologies Private Limited',
 'NEC CORPORATION INDIA PRIVATE LIMITED']

In [40]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [41]:
experience_list=[]
for i in experience_tags[:10]:
    experience_list.append(i.text)
experience_list

['0-3 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '3-8 Yrs']

In [42]:
print(len(job_titles), len(company_names), len(experience_list), len(location_list))

10 10 10 10

In [43]:
import pandas as pd

jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['experience']=experience_list

In [44]:
jobs

,title,company,location,experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-5 Yrs
2,Business Analyst- Data Scientist,Wipro,"Noida, Gurgaon/Gurugram",2-5 Yrs
3,Excellent opportunity For Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,"Noida, Bangalore/Bengaluru",3-7 Yrs
4,Data Scientist,Mobikwik,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
7,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,Noida,3-5 Yrs
8,Data Scientist,Cloudstrats Technologies Private Limited,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",5-8 Yrs
9,Data Scientist - Noida/ B'lore,NEC CORPORATION INDIA PRIVATE LIMITED,"Noida, Bangalore/Bengaluru",3-8 Yrs

# Question 4 :
    Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [281]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [282]:
url = 'https://www.glassdoor.co.in/Job/index.htm'
driver.get(url)

In [283]:
search_job = driver.find_element_by_xpath("//input[@class='keyword']")
search_job

In [284]:
#write on search bar
search_job.send_keys("Data Scientist")

In [285]:
location = driver.find_element_by_xpath("//input[@class='loc']")
location.clear()
location.send_keys("Noida")

In [286]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [287]:

#company name
name=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")

In [288]:
company =[]
for i in name[:10]:
    company.append(i.text)
company

['UnitedHealth Group',
 'Ericsson',
 'Mansha Solutions',
 'Priority Vendor',
 'Lantern Digital Services',
 'Gauge Data Solutions',
 'Techlive',
 'Sparkbpl',
 'WishFin',
 'Skyjobs hr services']

In [289]:
#no of days
no=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [290]:
noofdays =[]
for i in no[:10]:
    noofdays.append(i.text)
noofdays

['3d', '4d', '13d', '17d', '11d', '17d', '24d', '17d', '24h', '10d']

In [293]:
#rating
rating=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [294]:
ratings =[]
for i in rating[:10]:
    ratings.append(i.text)
ratings

['3.6', '4.1', '4.1', '3.7', '3.8', '3.1', '3.8', '5.0', '4.0', '4.1']

In [295]:
print(len(company), len(noofdays), len(ratings))

10 10 10

In [296]:
import pandas as pd

Jobs=pd.DataFrame({})
Jobs['Company']=company
Jobs['No of Days']=noofdays
Jobs['Ratings']=ratings

In [297]:
Jobs

                    Company No of Days Ratings
0        UnitedHealth Group         3d     3.6
1                  Ericsson         4d     4.1
2          Mansha Solutions        13d     4.1
3           Priority Vendor        17d     3.7
4  Lantern Digital Services        11d     3.8
5      Gauge Data Solutions        17d     3.1
6                  Techlive        24d     3.8
7                  Sparkbpl        17d     5.0
8                   WishFin        24h     4.0
9       Skyjobs hr services        10d     4.1

# Question 5 :
    Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [269]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [270]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [271]:
search_job = driver.find_element_by_xpath("//input[@class='keyword']")
search_job

In [272]:
#write on search bar
search_job.send_keys("Data Scientist")

In [273]:
location = driver.find_element_by_xpath("//input[@class='loc']")
location.clear()
location.send_keys("Noida")

In [274]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [275]:
#company name
name=driver.find_elements_by_xpath("//p[@class='m-0 ']")

In [276]:
company =[]
for i in name[:10]:
    company.append(i.text)
company

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

In [253]:
#no of salaries
salno=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")

In [206]:
salaries =[]
for i in salno[:10]:
    salaries.append(i.text)
salaries

['17 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries']

In [207]:
#avg salary
salavg=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [208]:
avgsalaries =[]
for i in salavg[:10]:
    avgsalaries.append(i.text)
avgsalaries

['₹ 6,14,306\n/yr',
 '₹ 9,00,000\n/yr',
 '₹ 11,46,533\n/yr',
 '₹ 7,38,057\n/yr',
 '₹ 12,39,781\n/yr',
 '₹ 13,36,142\n/yr',
 '₹ 8,15,192\n/yr',
 '₹ 11,35,221\n/yr',
 '₹ 11,44,243\n/yr',
 '₹ 14,13,288\n/yr']

In [209]:
#min salary
salmin=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']")

In [237]:
minmaxsalaries=[]
for i in salmin[:10]:
    minmaxsalaries.append(i.text.split('\n'))
minmaxsalaries

[['₹343K', '₹1,250K'],
 ['₹586K', '₹2,730K'],
 ['₹577K', '₹2,213K'],
 ['₹355K', '₹1,613K'],
 ['₹450K', '₹11,622K'],
 ['₹1,069K', '₹1,520K'],
 ['₹502K', '₹1,465K'],
 ['₹202K', '₹1,809K'],
 ['₹575K', '₹1,520K'],
 ['₹1,014K', '₹2,149K']]

In [238]:
print(len(company), len(salaries), len(avgsalaries), len(minmaxsalaries))

10 10 10 10

In [240]:
import pandas as pd

Jobs=pd.DataFrame({})
Jobs['Company']=company
Jobs['No of Salaries']=salaries
Jobs['Avg Salary']=avgsalaries
Jobs['Mininum and Maximum Salaries']=minmaxsalaries

In [241]:
Jobs

,Company,No of Salaries,Avg Salary,Mininum and Maximum Salaries
0,Tata Consultancy Services,"[₹343K, ₹1,250K]","₹ 6,14,306\n/yr","[₹343K, ₹1,250K]"
1,IBM,"[₹586K, ₹2,730K]","₹ 9,00,000\n/yr","[₹586K, ₹2,730K]"
2,Accenture,"[₹577K, ₹2,213K]","₹ 11,46,533\n/yr","[₹577K, ₹2,213K]"
3,Ericsson-Worldwide,"[₹355K, ₹1,613K]","₹ 7,38,057\n/yr","[₹355K, ₹1,613K]"
4,Delhivery,"[₹450K, ₹11,622K]","₹ 12,39,781\n/yr","[₹450K, ₹11,622K]"
5,UnitedHealth Group,"[₹1,069K, ₹1,520K]","₹ 13,36,142\n/yr","[₹1,069K, ₹1,520K]"
6,Valiance Solutions,"[₹502K, ₹1,465K]","₹ 8,15,192\n/yr","[₹502K, ₹1,465K]"
7,ZS Associates,"[₹202K, ₹1,809K]","₹ 11,35,221\n/yr","[₹202K, ₹1,809K]"
8,EXL Service,"[₹575K, ₹1,520K]","₹ 11,44,243\n/yr","[₹575K, ₹1,520K]"
9,Optum Global Solutions,"[₹1,014K, ₹2,149K]","₹ 14,13,288\n/yr","[₹1,014K, ₹2,149K]"

# Question 6 : 
    Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [168]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [169]:
url = 'https://www.flipkart.com/'
driver.get(url)
time.sleep(5)

In [170]:
#finding element for job search bar
search_bar = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar

In [171]:
#write on search bar
search_bar.send_keys("sunglasses")

In [172]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [173]:
#brand
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [174]:
prod_brand =[]
for i in brand[:100]:
    prod_brand.append(i.text)
prod_brand

['Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'Fastrack',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'Fastrack',
 'HIPPON',
 'hipe',
 'ROYAL SON',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'hipe',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Silver Kartz',
 'Singco India',
 'ROYAL SON',
 'PHENOMENAL',
 'GANSTA',
 'Silver Kartz',
 'Fastrack',
 'DEIXELS',
 'Fastrack',
 'ROYAL SON',
 'Singco India',
 'GANSTA']

In [175]:
#glass desc
desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

In [176]:
prod_desc =[]
for i in desc[:100]:
    prod_desc.append(i.text)
prod_desc

['UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Aviator Sunglasses (57)']

In [177]:
#price
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [178]:
prod_price =[]
for i in price[:100]:
    prod_price.append(i.text)
prod_price

['₹570',
 '₹733',
 '₹499',
 '₹349',
 '₹404',
 '₹1,123',
 '₹674',
 '₹759',
 '₹759',
 '₹638',
 '₹215',
 '₹621',
 '₹499',
 '₹209',
 '₹836',
 '₹251',
 '₹219',
 '₹379',
 '₹265',
 '₹499',
 '₹319',
 '₹449',
 '₹629',
 '₹559',
 '₹759',
 '₹758',
 '₹449',
 '₹758',
 '₹299',
 '₹339',
 '₹217',
 '₹319',
 '₹199',
 '₹259',
 '₹1,115',
 '₹213',
 '₹627',
 '₹711',
 '₹249',
 '₹281']

In [179]:
#discount
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")

In [180]:
prod_disc =[]
for i in discount[:100]:
    prod_disc.append(i.text)
prod_disc

['28% off',
 '18% off',
 '77% off',
 '78% off',
 '79% off',
 '13% off',
 '25% off',
 '15% off',
 '15% off',
 '20% off',
 '72% off',
 '22% off',
 '77% off',
 '73% off',
 '7% off',
 '79% off',
 '78% off',
 '74% off',
 '79% off',
 '77% off',
 '83% off',
 '79% off',
 '21% off',
 '30% off',
 '15% off',
 '15% off',
 '77% off',
 '15% off',
 '75% off',
 '71% off',
 '78% off',
 '84% off',
 '80% off',
 '82% off',
 '14% off',
 '82% off',
 '21% off',
 '64% off',
 '83% off',
 '85% off']

In [181]:
print(len(prod_brand), len(prod_desc), len(prod_price), len(prod_disc))

40 40 40 40

In [182]:
import pandas as pd

products=pd.DataFrame({})
products['brand']=prod_brand
products['ratings']=prod_desc
products['price']=prod_price
products['discount']=prod_disc

In [183]:
products

,brand,ratings,price,discount
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
5,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,123",13% off
6,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹674,25% off
7,Fastrack,UV Protection Wayfarer Sunglasses (56),₹759,15% off
8,Fastrack,UV Protection Shield Sunglasses (Free Size),₹759,15% off
9,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹638,20% off
10,NuVew,UV Protection Aviator Sunglasses (58),₹215,72% off
11,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22% off
12,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
13,DEIXELS,UV Protection Round Sunglasses (Free Size),₹209,73% off
14,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹836,7% off
15,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off
16,hipe,Mirrored Wayfarer Sunglasses (55),₹219,78% off
17,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
18,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹265,79% off
19,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹499,77% off
20,hipe,UV Protection Sports Sunglasses (Free Size),₹319,83% off
21,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
22,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629,21% off
23,Fastrack,UV Protection Wayfarer Sunglasses (57),₹559,30% off
24,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹759,15% off
25,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
26,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹449,77% off
27,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
28,Silver Kartz,UV Protection Oval Sunglasses (56),₹299,75% off
29,Singco India,UV Protection Aviator Sunglasses (Free Size),₹339,71% off
30,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217,78% off
31,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,84% off
32,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹199,80% off
33,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹259,82% off
34,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,115",14% off
35,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
36,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹627,21% off
37,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹711,64% off
38,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹249,83% off
39,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off

# Question 7: 
    Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [153]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [154]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace/'
driver.get(url)
time.sleep(5)

In [155]:
#do click using xpath function
review_btn= driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
review_btn.click()

In [159]:
#rating
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [160]:
prod_rating =[]
for i in rating[:100]:
    prod_rating.append(i.text)
prod_rating

['5', '5', '5', '5', '4', '5', '5', '5', '5', '5']

In [161]:
#review summary
review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [162]:
review_sum =[]
for i in review[:100]:
    review_sum.append(i.text)
review_sum

['Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Fabulous!',
 'Perfect product!',
 'Worth every penny']

In [163]:
#full review

In [164]:
full=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [165]:
full_rev =[]
for i in full[:100]:
    full_rev.append(i.text)
full_rev

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE']

In [167]:
print(len(prod_rating), len(review_sum), len(full_rev))

10 10 10

In [ ]:
import pandas as pd

products=pd.DataFrame({})
products['brand']=prod_brand
products['ratings']=prod_desc
products['price']=prod_price
products['discount']=prod_disc

# Question 8: 
    Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [136]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [137]:
url = 'https://www.flipkart.com/'
driver.get(url)
time.sleep(5)

In [138]:
#finding element for job search bar
search_bar = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar

In [139]:
#write on search bar
search_bar.send_keys("sneakers")

In [141]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()
time.sleep(5)

In [142]:
#brand
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [143]:
prod_brand =[]
for i in brand[:100]:
    prod_brand.append(i.text)
prod_brand

['BRUTON',
 'DUCATI',
 'Robbie jones',
 'Shoes Bank',
 'ORICUM',
 'HOTSTYLE',
 'Robbie jones',
 'Numenzo',
 'SPARX',
 'BRUTON',
 'aadi',
 'Kraasa',
 'Wika',
 'World Wear Footwear',
 'Stefano Rads',
 '"trend"',
 'believe',
 'SCATCHITE',
 'Kraasa',
 'BigForest',
 'bluemaker',
 'T-ROCK',
 'VIPSJAZZY',
 'DUCATI',
 'Axter',
 'SPARX',
 'Birde',
 'Robbie jones',
 '3SIX5',
 'CROWN LOUIS',
 'SPARX',
 'SPARX',
 'World Wear Footwear',
 'DUCATI',
 'Magnolia',
 'SPARX',
 'PUMA',
 'Raftar',
 'PUMA',
 'DUCATI']

In [144]:
#shoe desc
desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

In [145]:
prod_desc =[]
for i in desc[:100]:
    prod_desc.append(i.text)
prod_desc

['Combo Pack of 2 Casual Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Top Rated, Best Rates Training Shoes, W...',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 'Sneakers for men(black_6) Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'DOLLER Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 'SM-322 Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'SM-482 Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Anzarun Lite Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [146]:
#price
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [147]:
prod_price =[]
for i in price[:100]:
    prod_price.append(i.text)
prod_price

['₹404',
 '₹1,924',
 '₹379',
 '₹349',
 '₹377',
 '₹283',
 '₹474',
 '₹399',
 '₹699',
 '₹499',
 '₹298',
 '₹416',
 '₹449',
 '₹498',
 '₹242',
 '₹426',
 '₹423',
 '₹398',
 '₹416',
 '₹499',
 '₹474',
 '₹378',
 '₹419',
 '₹1,199',
 '₹269',
 '₹769',
 '₹757',
 '₹428',
 '₹214',
 '₹429',
 '₹965',
 '₹730',
 '₹449',
 '₹1,461',
 '₹305',
 '₹632',
 '₹1,975',
 '₹360',
 '₹1,035',
 '₹1,987']

In [148]:
#discount
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")

In [149]:
prod_disc =[]
for i in discount[:100]:
    prod_disc.append(i.text)
prod_disc

['83% off',
 '47% off',
 '62% off',
 '65% off',
 '62% off',
 '43% off',
 '52% off',
 '60% off',
 '85% off',
 '70% off',
 '58% off',
 '55% off',
 '50% off',
 '65% off',
 '78% off',
 '57% off',
 '60% off',
 '58% off',
 '50% off',
 '52% off',
 '62% off',
 '58% off',
 '67% off',
 '80% off',
 '23% off',
 '62% off',
 '57% off',
 '57% off',
 '57% off',
 '28% off',
 '23% off',
 '82% off',
 '59% off',
 '69% off',
 '15% off',
 '34% off',
 '63% off',
 '63% off',
 '44% off']

In [ ]:
print(len(prod_brand), len(prod_desc), len(prod_price), len(prod_disc))

In [ ]:
import pandas as pd

products=pd.DataFrame({})
products['brand']=prod_brand
products['ratings']=prod_desc
products['price']=prod_price
products['discount']=prod_disc

In [ ]:
products

# Question 9: 
    Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [121]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [122]:
url = 'https://www.myntra.com/shoes'
driver.get(url)
time.sleep(5)

In [124]:
#do click using xpath function
price_filter= driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")[7]
price_filter.click()

In [125]:
#do click using xpath function
color= driver.find_elements_by_xpath("//span[@class='colour-label colour-colorDisplay']")[0]
color.click()

In [126]:
#brand
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [127]:
prod_brand =[]
for i in brand[:100]:
    prod_brand.append(i.text)
prod_brand

['Nike',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Puma',
 'ALDO',
 'Nike',
 'ALDO',
 'Nike',
 'Nike',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Saint G',
 'ASICS',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Onitsuka Tiger',
 'FILA',
 'UNDER ARMOUR',
 'Nike',
 'Saint G',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Skechers',
 'Cole Haan',
 'Hush Puppies',
 'ASICS',
 'Ruosh',
 'Puma',
 'Puma',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Bugatti',
 'Ruosh',
 'Reebok']

In [128]:
#shoe desc
desc=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [129]:
prod_desc =[]
for i in desc[:100]:
    prod_desc.append(i.text)
prod_desc

['Men JOYRIDE Running Shoes',
 'Women REACT Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men KD13 EP Basketball Shoes',
 'Women Liberate Nitro Running',
 'Men UltraRide Running Shoes',
 'Men Sneakers',
 'Men JORDAN DELTA Basketball',
 'Men Textured Sneakers',
 'Men REACT MILER Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Women PEGASUS 37 Running Shoes',
 'Men HOVR Strt Walking Shoes',
 'Men Liquify Running Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men SPEED 500 2 Running Shoes',
 'Women AIR MAX VIVA Sneakers',
 'Charged Rogue 2 Wide 2E Shoes',
 'Men Leather Chelsea Boots',
 'Men Black Sports Shoes',
 'Charged Impulse Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Women Eternity Nitro Running',
 'HOVR Infinite 2 Running Shoes',
 'Men Velocity Nitro Running',
 'Men HOVR Guardian Shoes',
 'Women Liquify Rebel Running',
 'Unisex Mexico 66 Paraty Sneakers',
 'Men Running Shoes',
 'Women Charged Breathe TR 2',
 'Men JORDAN DELTA Sneakers',
 'Men Textured Leather Formal Loafers',
 'Men Charged Will Sneakers',
 'Women Provoke XT Training',
 'Women Charged Breathe OIL SLK',
 "Women D'LITES 3.0 Sneakers",
 'Women Woven Design Sneakers',
 'Men Formal Derbys',
 'Men Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Men FUTURE Z 3.1Football Shoes',
 'Future Rider Twofold Sneakers',
 'Men Leather Formal Oxfords',
 'Women HOVR Rise 2 Training',
 'Unisex RS-X Pop Sneakers',
 'Women TriBase Reign 2 Training',
 'HOVR Sonic 3 Running Shoes',
 'Women Mules',
 'Men Formal Brogues',
 'Forever Floatride Energy 2']

In [130]:
#price
price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [131]:
prod_price =[]
for i in price[:100]:
    prod_price.append(i.text)
prod_price

['Rs. 11246Rs. 14995(25% OFF)',
 'Rs. 8396Rs. 11995(30% OFF)',
 'Rs. 11495',
 'Rs. 12995',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 9999',
 'Rs. 12495',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 8796Rs. 10995(20% OFF)',
 'Rs. 7721Rs. 10295(25% OFF)',
 'Rs. 7496Rs. 9995(25% OFF)',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 10999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 12495',
 'Rs. 7999',
 'Rs. 11305Rs. 11900(5% OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 10199Rs. 11999(15% OFF)',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 8499',
 'Rs. 7999',
 'Rs. 10995',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 6749Rs. 14999(55% OFF)',
 'Rs. 9999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 8990',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 6999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 9999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 7499',
 'Rs. 6990',
 'Rs. 9999']

In [132]:
print(len(prod_brand), len(prod_desc), len(prod_price))

50 50 50

In [134]:
import pandas as pd

products=pd.DataFrame({})
products['brand']=prod_brand
products['ratings']=prod_desc
products['price']=prod_price

In [135]:
products

,brand,ratings,price
0,Nike,Men JOYRIDE Running Shoes,Rs. 11246Rs. 14995(25% OFF)
1,Nike,Women REACT Running Shoes,Rs. 8396Rs. 11995(30% OFF)
2,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
3,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
4,Puma,Women Liberate Nitro Running,Rs. 7999Rs. 9999(20% OFF)
5,Puma,Men UltraRide Running Shoes,Rs. 7649Rs. 8999(15% OFF)
6,ALDO,Men Sneakers,Rs. 9999
7,Nike,Men JORDAN DELTA Basketball,Rs. 12495
8,ALDO,Men Textured Sneakers,Rs. 7199Rs. 8999(20% OFF)
9,Nike,Men REACT MILER Running Shoes,Rs. 8796Rs. 10995(20% OFF)
10,Nike,Men AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
11,Nike,Women PEGASUS 37 Running Shoes,Rs. 7496Rs. 9995(25% OFF)
12,UNDER ARMOUR,Men HOVR Strt Walking Shoes,Rs. 9999
13,UNDER ARMOUR,Men Liquify Running Shoes,Rs. 10999
14,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
15,Puma,Men SPEED 500 2 Running Shoes,Rs. 6999Rs. 9999(30% OFF)
16,Nike,Women AIR MAX VIVA Sneakers,Rs. 12495
17,UNDER ARMOUR,Charged Rogue 2 Wide 2E Shoes,Rs. 7999
18,Saint G,Men Leather Chelsea Boots,Rs. 11305Rs. 11900(5% OFF)
19,ASICS,Men Black Sports Shoes,Rs. 6999Rs. 9999(30% OFF)
20,UNDER ARMOUR,Charged Impulse Running Shoes,Rs. 7999
21,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
22,Puma,Women Eternity Nitro Running,Rs. 12999
23,UNDER ARMOUR,HOVR Infinite 2 Running Shoes,Rs. 11999
24,Puma,Men Velocity Nitro Running,Rs. 10999
25,UNDER ARMOUR,Men HOVR Guardian Shoes,Rs. 10199Rs. 11999(15% OFF)
26,UNDER ARMOUR,Women Liquify Rebel Running,Rs. 8999
27,Onitsuka Tiger,Unisex Mexico 66 Paraty Sneakers,Rs. 6999
28,FILA,Men Running Shoes,Rs. 8499
29,UNDER ARMOUR,Women Charged Breathe TR 2,Rs. 7999
30,Nike,Men JORDAN DELTA Sneakers,Rs. 10995
31,Saint G,Men Textured Leather Formal Loafers,Rs. 9975Rs. 10500(5% OFF)
32,UNDER ARMOUR,Men Charged Will Sneakers,Rs. 7224Rs. 8499(15% OFF)
33,Puma,Women Provoke XT Training,Rs. 7999
34,UNDER ARMOUR,Women Charged Breathe OIL SLK,Rs. 8999
35,Skechers,Women D'LITES 3.0 Sneakers,Rs. 6999
36,Cole Haan,Women Woven Design Sneakers,Rs. 6749Rs. 14999(55% OFF)
37,Hush Puppies,Men Formal Derbys,Rs. 9999
38,ASICS,Men Running Shoes,Rs. 6999Rs. 9999(30% OFF)
39,Ruosh,Men Solid Leather Formal Derbys,Rs. 8990
40,Puma,Men FUTURE Z 3.1Football Shoes,Rs. 7199Rs. 7999(10% OFF)
41,Puma,Future Rider Twofold Sneakers,Rs. 6999
42,Heel & Buckle London,Men Leather Formal Oxfords,Rs. 7693Rs. 10990(30% OFF)
43,UNDER ARMOUR,Women HOVR Rise 2 Training,Rs. 9999
44,Puma,Unisex RS-X Pop Sneakers,Rs. 8499Rs. 9999(15% OFF)
45,UNDER ARMOUR,Women TriBase Reign 2 Training,Rs. 11999
46,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
47,Bugatti,Women Mules,Rs. 7499
48,Ruosh,Men Formal Brogues,Rs. 6990
49,Reebok,Forever Floatride Energy 2,Rs. 9999

# Question 10: 
    Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [91]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")

In [92]:
url = 'https://www.amazon.in/'
driver.get(url)
time.sleep(5)

In [93]:
#finding element for job search bar
search_bar = driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_bar

In [94]:
#write on search bar
search_bar.send_keys("Laptop")

In [95]:
#do click using xpath function
search_btn= driver.find_elements_by_xpath("//input[@class='nav-input nav-progressive-attribute']")[1]
search_btn.click()
time.sleep(10)

In [96]:
checkboxes = driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")[19:20]
for checkbox in checkboxes:
    checkbox.click()

In [97]:
#extract data from webpage- titles
titles_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [98]:
prod_titles =[]
for i in titles_tags[:10]:
    prod_titles.append(i.text)
prod_titles

['Lenovo Ideapad S145 Intel Core i3 10th Gen 15.6” FHD Thin and Light (8GB/1TBHDD/Win10/Intel UHD Graphics/Platinum Grey/1.85kg), 81W800TJIN',
 'Lenovo Ideapad Slim 3 10th Gen Intel Core i3 15.6 inch (39.62 cms) Full HD Thin and Light Laptop (4GB/1TB HDD/Windows 10/MS Office 2019/Platinum Grey/1.85Kg), 81WE00RCIN',
 'Lenovo IdeaPad S145 10th Gen Intel Core i3 15.6 inch (39.62 cms) Full HD Thin and Light Laptop (8GB/1TB HDD/Windows 10/MS Office 2019/Platinum Grey/1.85Kg), 81W800DHIN',
 'HP 15 (2021) Thin & Light 11th Gen Core i3 Laptop, 8 GB RAM, 1TB HDD, 15.6-inch (39.62 cms) FHD Screen, Windows 10, MS Office',
 'Lenovo Ideapad S145 i3 10th Gen 15.6” FHD Thin & Light Laptop(8GB/1TBHDD/Win10/UHD Graphics/Grey/1.85kg), 81W800TJIN + Lenovo 15.6 inch Slim Everyday Backpack + Lenovo 300 Wired USB Mouse GX30M39704',
 'Lenovo Ideapad S145 7th Gen Intel Core i3 15.6” Thin and Light Laptop (4GB/1TB HDD/Win10 + Office Home/Intel UHD Graphics/Platinum Grey/1.85kg), 81VD00EQIN',
 'HP 14(2021) 10th Gen Intel Core i3 Laptop with Alexa Built-in, 8GB RAM, 256GB SSD, 14-Inch(35.6 cm) FHD Screen, Windows 10, MS Office, (14s- dy2501tu)',
 'Dell Vostro 3401 14" FHD Display Laptop (11th Gen i3-1115G4 / 8GB / 1TB HDD / Integrated Graphics / Win 10 + MSO / Accent Black) D552175WIN9BE',
 'HP 14 (2021) Thin & Light 11th Gen Intel Core i3 Laptop with Alexa Built-in, 8GB RAM, 512GB SSD, 14-inch FHD Screen, Windows 10, MS Office (14s-dr2015TU)',
 'Dell Inspiron 3501 15.6" (39.62 cms) FHD AG Display Laptop (i3-1005G1 / 8GB / 1TB / Integrated Graphics / Win 10 + MSO / Softmint) D560421WIN9S']

In [115]:
#extract data from webpage- rating
ratings=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']//span")

In [116]:
prod_ratings =[]
for i in ratings[:10]:
    prod_ratings.append(i.text)
prod_ratings

['', '', '', '', '', '', '', '', '', '']

In [101]:
#extract data from webpage- titles
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [102]:
prod_price =[]
for i in price[:10]:
    prod_price.append(i.text)
prod_price

['33,990',
 '33,990',
 '35,990',
 '37,990',
 '35,028',
 '32,480',
 '41,999',
 '39,590',
 '45,990',
 '38,890']

In [118]:
print(len(prod_titles), len(prod_ratings), len(prod_price))

10 10 10

In [119]:
import pandas as pd

products=pd.DataFrame({})
products['title']=prod_titles
products['ratings']=prod_ratings
products['price']=prod_price

In [120]:
products

                                               title ratings   price
0  Lenovo Ideapad S145 Intel Core i3 10th Gen 15....          33,990
1  Lenovo Ideapad Slim 3 10th Gen Intel Core i3 1...          33,990
2  Lenovo IdeaPad S145 10th Gen Intel Core i3 15....          35,990
3  HP 15 (2021) Thin & Light 11th Gen Core i3 Lap...          37,990
4  Lenovo Ideapad S145 i3 10th Gen 15.6” FHD Thin...          35,028
5  Lenovo Ideapad S145 7th Gen Intel Core i3 15.6...          32,480
6  HP 14(2021) 10th Gen Intel Core i3 Laptop with...          41,999
7  Dell Vostro 3401 14" FHD Display Laptop (11th ...          39,590
8  HP 14 (2021) Thin & Light 11th Gen Intel Core ...          45,990
9  Dell Inspiron 3501 15.6" (39.62 cms) FHD AG Di...          38,890