# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
# Importing Libraries
import pandas as pd

#import library to query webpage 
import urllib.request as urllib2 
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

#import exceptions
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [26]:

#specifying page of interest
wiki = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
#save the HTML of the site within the page variable
page = urllib2.urlopen(wiki)

#parse data from "page" and save to new variable "soup"
soup = BeautifulSoup(page)


#pinpointing the location of the table and its contents
first_table = soup.find('table', class_ = 'wikitable sortable')
#creating lists for each column in table.
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]


#utilizing HTML tags for rows <tr> and elements <td> to iterate through each row of data and append data elements to their appropriate lists:
for row in first_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells)==6: #to extract only table body not heading
        A.append(cells[0].find(text=True))
        B.append(cells[1].find())
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        E.append(cells[4].find(text=True))
        F.append(cells[5].find(text=True))
        

#convert list to dataframe
df=pd.DataFrame(A,columns=['Rank'])
df['Name']=B
df['Artist']=C
df['Views']=D
df['UploadDate']=E
df['Note']=F

#Source: https://towardsdatascience.com/web-scraping-the-list-of-greatest-video-games-from-wikipedia-pt-1-230c64d93e8c

In [27]:
df

,Rank,Name,Artist,Views,UploadDate,Note
0,1.,[Baby Shark Dance],Pinkfong Kids' Songs & Stories,8.74,"June 17, 2016",[B]
1,2.,[Despacito],Luis Fonsi,7.39,"January 12, 2017",[C]
2,3.,[Johny Johny Yes Papa],LooLoo Kids,5.43,"October 8, 2016",[D]
3,4.,[Shape of You],Ed Sheeran,5.34,"January 30, 2017",[E]
4,5.,[See You Again],Wiz Khalifa,5.13,"April 6, 2015",[F]
5,6.,[[Masha and the Bear]],Get Movies,4.44,"January 31, 2012",[G]
6,7.,[Uptown Funk],Mark Ronson,4.20,"November 19, 2014",[H]
7,8.,[[[32]]],Miroshka TV,4.14,"February 27, 2018",[I]
8,9.,[[[33]]],Cocomelon – Nursery Rhymes,4.12,"May 2, 2018",[J]
9,10.,[Gangnam Style],Psy,4.08,"July 15, 2012",[K]
10,11.,[[[36]]],ChuChu TV,3.91,"March 6, 2014",\n
11,12.,[Sugar],Maroon 5,3.48,"January 14, 2015",\n
12,13.,[Sorry],Justin Bieber,3.44,"October 22, 2015",\n
13,14.,[Dame Tu Cosita],El Chombo,3.38,"April 5, 2018",\n
14,15.,[Roar],Katy Perry,3.36,"September 5, 2013",\n
15,16.,[Counting Stars],OneRepublic,3.31,"May 31, 2013",\n
16,17.,[Thinking Out Loud],Ed Sheeran,3.27,"October 7, 2014",\n
17,18.,[Dark Horse],Katy Perry,3.08,"February 20, 2014",\n
18,19.,[Faded],Alan Walker,3.08,"December 3, 2015",\n
19,20.,[[[45]]],Cocomelon – Nursery Rhymes,3.07,"May 24, 2018",\n
20,21.,[Shake It Off],Taylor Swift,3.06,"August 18, 2014",\n
21,22.,[Lean On],Major Lazer,3.05,"March 22, 2015",\n
22,23.,[Girls Like You],Maroon 5,3.04,"May 31, 2018",\n
23,24.,[Bailando],Enrique Iglesias,3.04,"April 11, 2014",\n
24,25.,[Let Her Go],Passenger,3.00,"July 25, 2012",\n
25,26.,[Mi Gente],J Balvin,2.93,"June 29, 2017",\n
26,27.,[Perfect],Ed Sheeran,2.86,"November 9, 2017",\n
27,28.,[Hello],Adele,2.84,"October 22, 2015",\n
28,29.,[Waka Waka (This Time for Africa)],Shakira,2.84,"June 4, 2010",\n
29,30.,[Axel F],Crazy Frog,2.83,"June 16, 2009",\n

In [ ]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [2]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

url = 'https://www.bcci.tv/'
driver.get(url)
time.sleep(6)

# clicking the fixtures button
button=driver.find_elements_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")[0]
button.click()
time.sleep(4)

# creating empty lists for scraping data
match_title=[]
match_series=[]
place=[]
date=[]
timing=[]


#scraping the match-titles
titles=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in titles:
    if i.text is None :
        match_title.append("--") 
    else:
        match_title.append(i.text)
        
        
        
time.sleep(4)

#scraping the series
series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    if i.text is None :
        match_series.append("--") 
    else:
        match_series.append(i.text)
        

        
        
time.sleep(4)

#scraping the location
location=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
for i in location:
    if i.text is None :
        place.append("--") 
    else:
        place.append(i.text)
        
        
        
time.sleep(4)

#scraping the dates
dates=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in dates:
    if i.text is None :
        date.append("--") 
    else:
        date.append(i.text)

In [35]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Match Title":match_title[:6],"Match Series":match_series[:6],"Match Place":place[:6],
                "Match Date":date[0:6]}) 
df

,Match Title,Match Series,Match Place,Match Date
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",Friday 18 June 15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4 August 15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 August 15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 August 15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2 September 15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 September 15:30 IST

In [ ]:
driver.close()

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [2]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

In [3]:
url = 'https://www.guru99.com/'
driver.get(url)
time.sleep(6)

In [4]:
# clicking the selenium button
button=driver.find_elements_by_xpath("//li[@class='fa fa-chevron-circle-right']//a")[2]
button.click()
time.sleep(4)

In [5]:
# clicking the selenium button
button=driver.find_elements_by_xpath("//td[@class='responsivetable']//a")[68]
button.click()
time.sleep(4)

In [6]:
# creating empty lists for scraping data
name=[]
description=[]

In [ ]:
#finding elements for exception names
names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")

#scraping the name

for i in names:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text)

In [ ]:
#scraping the description
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in desc:
    if i.text is None :
        description.append("--") 
    else:
        description.append(i.text)

In [11]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Name":name[1:],"Description":description[1:]}) 
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [ ]:
driver.close()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [13]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

In [14]:
url = 'http://statisticstimes.com/'
driver.get(url)
time.sleep(6)

In [15]:
# clicking the Economy dropdown button
button=driver.find_elements_by_xpath("//button[@class='dropbtn']")[1]
button.click()
time.sleep(2)

In [16]:
# clicking the India button
button=driver.find_elements_by_xpath("//div[@class='dropdown-content']//a")[4]
button.click()
time.sleep(4)

In [18]:
# clicking the GDP for Indian States button
button=driver.find_elements_by_xpath("//a[@class='ec']")[13]
button.click()
time.sleep(4)

In [29]:
# creating empty lists for scraping data
Rank=[]
State=[]
GSDP1920=[]
GSDP1819=[]
Share=[]
GDPinbillion=[]

In [43]:
time.sleep(3)
# finding the element where rank is present
ranks=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
for i in ranks:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)

In [ ]:
time.sleep(3)
# finding the element where state is present
states=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]")
for i in states:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)

In [ ]:
time.sleep(3)
# finding the element where state is present
gsdp18=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]")
for i in gsdp18:
    if i.text is None :
        GSDP1819.append("--") 
    else:
        GSDP1819.append(i.text)

In [ ]:
time.sleep(3)
# finding the element where state is present
gsdp19=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]")
for i in gsdp19:
    if i.text is None :
        GSDP1920.append("--") 
    else:
        GSDP1920.append(i.text)

In [ ]:
time.sleep(3)
# finding the element where state is present
share=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]")
for i in share:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)

In [ ]:
time.sleep(3)
# finding the element where state is present
gdp=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]")
for i in gdp:
    if i.text is None :
        GDPinbillion.append("--") 
    else:
        GDPinbillion.append(i.text)

In [54]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Rank":Rank[0:32], "State":State[0:32], "GSDP1920": GSDP1920[0:32], "GSDP1819":GSDP1819[0:32], "Share":Share[0:32], "GDP": GDPinbillion[0:32]}) 
df

   Rank              State   GSDP1920   GSDP1819   Share      GDP
0     1        Maharashtra          -  2,632,792  13.94%  399.921
1     2         Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3      Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4            Gujarat          -  1,502,899   7.96%  228.290
4     5          Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6        West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7          Rajasthan  1,020,989    942,586   4.99%  143.179
7     8     Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9          Telangana    969,604    861,031   4.56%  130.791
9    10     Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11             Kerala          -    781,653   4.14%  118.733
11   12              Delhi    856,112    774,870   4.10%  117.703
12   13            Haryana    831,610    734,163   3.89%  111.519
13   14              Bihar    611,804    530,363   2.81%   80.562
14   15             Punjab    574,760    526,376   2.79%   79.957
15   16             Odisha    521,275    487,805   2.58%   74.098
16   17              Assam          -    315,881   1.67%   47.982
17   18       Chhattisgarh    329,180    304,063   1.61%   46.187
18   19          Jharkhand    328,598    297,204   1.57%   45.145
19   20        Uttarakhand          -    245,895   1.30%   37.351
20   21    Jammu & Kashmir          -    155,956   0.83%   23.690
21   22   Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                Goa     80,449     73,170   0.39%   11.115
23   24            Tripura     55,984     49,845   0.26%    7.571
24   25         Chandigarh          -     42,114   0.22%    6.397
25   26         Puducherry     38,253     34,433   0.18%    5.230
26   27          Meghalaya     36,572     33,481   0.18%    5.086
27   28             Sikkim     32,496     28,723   0.15%    4.363
28   29            Manipur     31,790     27,870   0.15%    4.233
29   30           Nagaland          -     27,283   0.14%    4.144
30   31  Arunachal Pradesh          -     24,603   0.13%    3.737
31   32            Mizoram     26,503     22,287   0.12%    3.385

In [ ]:
driver.close()

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [14]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

In [15]:
url = 'https://github.com/ '
driver.get(url)
time.sleep(6)

In [17]:
# clicking the Explore dropdown button
button=driver.find_elements_by_xpath("//summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']")[1]
button.click()
time.sleep(2)

In [20]:
# clicking the Trending button
button=driver.find_elements_by_xpath("//a[@class='py-2 lh-condensed-ultra d-block Link--secondary no-underline f5 Bump-link--hover']")[10]
button.click()
time.sleep(4)

In [21]:
# creating empty lists for scraping data
RepositoryTitle=[]
RepositoryDescription=[]
Contributorscount=[]
Language=[]

In [ ]:
time.sleep(3)
# finding the element where title is present
titles=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for i in titles:
    if i.text is None :
        RepositoryTitle.append("--") 
    else:
        RepositoryTitle.append(i.text)

In [ ]:
time.sleep(3)
# finding the element where descrption is present
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in desc:
    if i.text is None :
        RepositoryDescription.append("--") 
    else:
        RepositoryDescription.append(i.text)

In [ ]:
time.sleep(3)
# finding the element where count is present
count=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
for i in count:
    if i.text is None :
        Contributorscount.append("--") 
    else:
        Contributorscount.append(i.text)

In [ ]:
time.sleep(3)
# finding the element where count is present
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None :
        Language.append("--") 
    else:
        Language.append(i.text)

In [30]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Repository Title":RepositoryTitle[0:21],"Repository Description":RepositoryDescription[0:21],"Contributors Count":Contributorscount[0:21],
                "Language Used":Language[0:21]}) 
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,jina-ai / jina,An easier way to build neural search on the cloud,"5,216",Python
1,willmcgugan / rich,Rich is a Python library for rich text and bea...,503,Python
2,monyhar / monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,"26,623",C
3,programthink / books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,813,TypeScript
4,jwasham / coding-interview-university,A complete computer science study plan to beco...,591,Haskell
5,streamich / react-use,React Hooks — 👍,43,AGS Script
6,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...","10,367",Lua
7,walidshaari / Certified-Kubernetes-Security-Sp...,Curated resources help you prepare for the CNC...,"2,102",C#
8,siduck76 / NvChad,beautiful neovim setup configured in lua,"180,255",Python
9,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...","48,766",C++
10,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,"22,977",Rust
11,IlanKalendarov / SharpHook,Bitcoin Core integration/staging tree,"1,664",Vim script
12,SuMaiKaDe / bot,A new type of shell,"22,805",Python
13,bitcoin / bitcoin,Vim-fork focused on extensibility and usability,"1,903",JavaScript
14,nushell / nushell,Generate obfuscated meterpreter shells,883,Rust
15,neovim / neovim,iOS 14.5 WebKit/Safari based Jailbreak,237,TypeScript
16,smokeme / payloadGenerator,ripgrep recursively searches directories for a...,"1,504",Python
17,RPwnage / pwn-my,Your window into the Elastic Stack,86,JavaScript
18,BurntSushi / ripgrep,This is a simple backtesting framework to help...,"41,063",JavaScript
19,elastic / kibana,A powerful JavaScript library for interacting ...,"4,394",Go
20,CyberPunkMetalHead / backtesting-for-cryptocur...,The hackable text editor,"33,778",JavaScript

In [ ]:
driver.close()

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [18]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

In [19]:
url = 'https://www.billboard.com/'
driver.get(url)
driver.maximize_window()
time.sleep(4)

In [23]:
# clicking the Charts page
button=driver.find_elements_by_xpath("//a[@class='header__main-link header__main-link--charts']")[1]
time.sleep(10)
button.click()

In [31]:
# clicking the Hot 100 page
button2=driver.find_elements_by_xpath("//a[@class='chart-panel__link']")[0]
button2.click()

In [32]:
#creating empty lists for scraping data
SongName=[]
ArtistName=[]
LastWeekRank=[]
PeakRank=[]
WeeksOnBoard=[]

In [33]:
time.sleep(3)
# finding the element where Song Name is present
name=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in name:
    if i.text is None :
        SongName.append("--") 
    else:
        SongName.append(i.text)

In [35]:
time.sleep(3)
# finding the element where Artist Name is present
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    if i.text is None :
        ArtistName.append("--") 
    else:
        ArtistName.append(i.text)

In [37]:
time.sleep(3)
# finding the element where Last Week Rank Name is present
lwrank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lwrank:
    if i.text is None :
        LastWeekRank.append("--") 
    else:
        LastWeekRank.append(i.text)

In [39]:
time.sleep(3)
# finding the element where Peak Rank is present
prank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in prank:
    if i.text is None :
        PeakRank.append("--") 
    else:
        PeakRank.append(i.text)

In [41]:
time.sleep(3)
# finding the element where Weeks On Chart is present
weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    if i.text is None :
        WeeksOnBoard.append("--") 
    else:
        WeeksOnBoard.append(i.text)

In [43]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Song Name":SongName,"Artist Name":ArtistName,"Last Week Rank":LastWeekRank,
                "Peak Rank":PeakRank, "Weeks on Chart": WeeksOnBoard}) 
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Chart
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

In [44]:
driver.close()

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [129]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

In [130]:
url = 'https://www.naukri.com/'
driver.get(url)
driver.maximize_window()
time.sleep(3)

In [131]:
# clicking the Recruiters option
button=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a")
time.sleep(2)
button.click()

In [132]:
driver.current_window_handle

'CDwindow-EAD69A8868649B5E164D9B91E5288C00'

In [134]:
driver.switch_to.window(driver.window_handles[1])

In [138]:
#finding element for job search bar
search_job = driver.find_element_by_xpath("//input[@class='sugInp']")

In [139]:
#write on search bar
search_job.send_keys("Data Science")

In [140]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [161]:
#creating empty lists for scraping data
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [162]:
time.sleep(3)
# finding the element where Recruiter Name is present
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
Name

['Rajiv Raj',
 'Sharmistha Maity',
 'Malvika Bhandari',
 'Fgts Recruitment',
 'Vineet P',
 'Silky Sethi',
 'Tracy Raina',
 'HR Carzonrent',
 'Deepti Nagle',
 'shravan Kumar Gaddam',
 'Aakash Harit',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Jayanth N',
 'Asif Lucknowi',
 'Manas',
 'Dr. S. Prasanna Devi',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'Rajani Nagaraj',
 'Radha Manivasagam',
 'Rutuja Pawar',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Madhusudhan Sridhar',
 'Ankit Sinha']

In [163]:
time.sleep(3)
# finding the element where Recruiter Designation is present
desi=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desi:
    if i.text is None :
        Designation.append("--") 
    else:
        Designation.append(i.text)
Designation

['Director',
 'Company Recruiter',
 'Talent Acquisition Consultant',
 'Company Recruiter',
 'Opportunity Communicator',
 'Company Recruiter',
 'Senior HR Executive',
 'Company Recruiter',
 'Recruitment Executive',
 'Company Recruiter',
 'HR Manager',
 'Company Recruiter',
 'Company HR',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'Senior Executive Talent Acquisition',
 'HR Team Lead',
 'HR Manager',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'Company Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Project Manager',
 'Director',
 'Lead Talent acquisition',
 'Professor and Head',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Senior Manager',
 'Company Recruitment Head',
 'HR Manager',
 'HR Executive',
 'Technical Recruiter',
 'Head',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Erp Implementer',
 'Head Analytics']

In [164]:
time.sleep(3)
# finding the element where Recruiter Company is present
comp=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in comp:
    if i.text is None :
        Company.append("--") 
    else:
        Company.append(i.text)
Company

['CreditVidya',
 'ICA Edu Skills Pvt. Ltd.',
 'IMS Proschool Pvt. Ltd',
 'FUSION GLOBAL TECHNOLOGIES AND SOLUTIONS...',
 'Dell Technologies',
 'ZS Associates {India} Pvt Ltd',
 'Quatrro Global Services Pvt. Ltd.',
 'Carzonrent (India) Pvt Ltd',
 'Nityo Infotech Services Pvt. Ltd.',
 'Shore Infotech India Pvt. Ltd',
 'Data Science Network',
 'Enerlytics Software Solutions Pvt Ltd',
 'MARSIAN Technologies LLP',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'Bristlecone India Ltd',
 'SocialPrachar.com',
 'BISP Solutions',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'Dollarbird Information Services Pvt, Ltd',
 'Weupskill- Live Wire India',
 'Autumn Leaf Consulting Services Private...',
 'SRM Institute of Science and Technology',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Independent Consultant',
 'Confidential',
 'WildJasmine',
 'Techcovery',
 'Demand Matrix',
 'Trisect',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global']

In [165]:
time.sleep(3)
# finding the element where Skills is present
skil=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skil:
    if i.text is None :
        Skills.append("--") 
    else:
        Skills.append(i.text)
Skills

['Big Data, Data Management, Data Analytics, Banking, Analytics, Data Scientist, R, Matlab, Sql, Python',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 'Inside Sales, Outside Sales, Enterprise Accounts, Manager, IT product sales, Oracle Apps, EBS, Developer, PLSQL, Java, UNIX, Program Management',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Computer Science, Machine Learning, Deep Learning, Natural Language Processing, Computer Vision, Information Retrieval, Artificial Intelligence, Data Mining',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Python, Artificial Intelligence, Machine Learning, Data Science',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview']

In [166]:
time.sleep(3)
# finding the element where Location is present
loc=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in loc:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)
Location

['Mumbai',
 'Kolkata',
 'Pune',
 'Chennai',
 'Bengaluru / Bangalore',
 'Pune',
 'Gurgaon',
 'Delhi',
 'Pune',
 'Hyderabad / Secunderabad',
 'Delhi',
 'Ahmedabad',
 'Pune',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Pune',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Mysoru / Mysore',
 'Indore',
 'Bengaluru / Bangalore',
 'Chennai',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Pune',
 'Noida',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Bengaluru / Bangalore',
 'Mumbai']

In [172]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Recruiter Name":Name[:49],"Recruiter Designation":Designation[:49],"Company":Company[:49],
                "Skills":Skills[:49], "Location": Location[:49]}) 
df

,Recruiter Name,Recruiter Designation,Company,Skills,Location
0,Rajiv Raj,Director,CreditVidya,"Big Data, Data Management, Data Analytics, Ban...",Mumbai
1,Sharmistha Maity,Company Recruiter,ICA Edu Skills Pvt. Ltd.,Not Specified,Kolkata
2,Malvika Bhandari,Talent Acquisition Consultant,IMS Proschool Pvt. Ltd,Not Specified,Pune
3,Fgts Recruitment,Company Recruiter,FUSION GLOBAL TECHNOLOGIES AND SOLUTIONS...,Not Specified,Chennai
4,Vineet P,Opportunity Communicator,Dell Technologies,"Inside Sales, Outside Sales, Enterprise Accoun...",Bengaluru / Bangalore
5,Silky Sethi,Company Recruiter,ZS Associates {India} Pvt Ltd,Not Specified,Pune
6,Tracy Raina,Senior HR Executive,Quatrro Global Services Pvt. Ltd.,Not Specified,Gurgaon
7,HR Carzonrent,Company Recruiter,Carzonrent (India) Pvt Ltd,Not Specified,Delhi
8,Deepti Nagle,Recruitment Executive,Nityo Infotech Services Pvt. Ltd.,Not Specified,Pune
9,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
10,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
11,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
12,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
13,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
14,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
15,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
16,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
17,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
18,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
19,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
20,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
21,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
22,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
23,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
24,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
25,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
26,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
27,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
28,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
29,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
30,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
33,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
34,Dr. S. Prasanna Devi,Professor and Head,SRM Institute of Science and Technology,"Computer Science, Machine Learning, Deep Learn...",Chennai
35,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
36,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
37,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
38,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
39,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
40,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
41,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Pune
42,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Noida
43,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
44,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
45,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
46,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
47,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Bengaluru / Bangalore
48,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai

In [ ]:
driver.close()

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [85]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

In [86]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)
time.sleep(6)

In [87]:
# creating empty lists for scraping data
BookName=[]
Author=[]
VolumeSale=[]
Publisher=[]
Genre=[]

In [88]:
time.sleep(3)
# finding the element where book name is present
books=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in books:
    if i.text is None :
        BookName.append("--") 
    else:
        BookName.append(i.text)
BookName

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [89]:
time.sleep(3)
# finding the element where author is present
auth=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in auth:
    if i.text is None :
        Author.append("--") 
    else:
        Author.append(i.text)
Author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [90]:
time.sleep(3)
# finding the element where sales is present
vols=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in vols:
    if i.text is None :
        VolumeSale.append("--") 
    else:
        VolumeSale.append(i.text)
VolumeSale

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [91]:
time.sleep(3)
# finding the element where publisher is present
pub=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in pub:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [92]:
time.sleep(3)
# finding the element where publisher is present
gen=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in gen:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [93]:
len(BookName)

100

In [94]:
len(Genre)

100

In [95]:
len(Publisher)

100

In [96]:
len(VolumeSale)

100

In [97]:
len(Author)

100

In [98]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Book Name":BookName,"Author Name":Author,"Volume Sales":VolumeSale,
                "Publisher":Publisher, "Genre":Genre }) 
df

,Book Name,Author Name,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [132]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

In [133]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
driver.maximize_window()
time.sleep(6)

In [134]:
# creating empty lists for scraping data
Name=[]
Year=[]
Genre=[]
RunTime=[]
Ratings=[]
Vote=[]

In [135]:
time.sleep(3)
# finding the element where Name is present
names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in names:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

In [136]:
time.sleep(3)
# finding the element where Year is present
yearspan=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in yearspan:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)

In [137]:
time.sleep(3)
# finding the element where Genre is present
gen=driver.find_elements_by_xpath("//span[@class='genre']")
for i in gen:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)

In [138]:
time.sleep(3)
# finding the element where Runtime is present
runt=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in runt:
    if i.text is None :
        RunTime.append("--") 
    else:
        RunTime.append(i.text)

In [139]:
time.sleep(3)
# finding the element where Rating is present
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in rating:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)

In [140]:
time.sleep(3)
# finding the element where Votes is present
vote=driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[4]/span[2]")
for i in vote:
    if i.text is None :
        Vote.append("--") 
    else:
        Vote.append(i.text)
Vote

['1,824,961',
 '865,035',
 '875,073',
 '262,886',
 '224,281',
 '282,774',
 '125,173',
 '261,560',
 '314,725',
 '412,467',
 '331,975',
 '737,671',
 '462,839',
 '830,710',
 '451,970',
 '154,770',
 '290,630',
 '282,650',
 '1,527,972',
 '253,426',
 '400,110',
 '487,900',
 '134,346',
 '131,197',
 '372,609',
 '211,313',
 '370,988',
 '371,225',
 '864,977',
 '618,374',
 '371,437',
 '342,396',
 '121,203',
 '114,348',
 '157,780',
 '142,857',
 '214,973',
 '440,010',
 '196,456',
 '371,361',
 '395,657',
 '55,431',
 '154,533',
 '473,829',
 '305,696',
 '54,142',
 '171,556',
 '211,167',
 '198,167',
 '203,647',
 '153,900',
 '658,703',
 '116,580',
 '310,218',
 '208,044',
 '507,362',
 '380,963',
 '422,738',
 '57,867',
 '103,486',
 '320,316',
 '67,655',
 '94,505',
 '187,617',
 '81,328',
 '67,790',
 '40,703',
 '138,876',
 '337,514',
 '242,683',
 '102,174',
 '171,157',
 '510,973',
 '93,621',
 '118,629',
 '341,432',
 '99,257',
 '191,665',
 '64,400',
 '16,150',
 '114,609',
 '124,046',
 '117,545',
 '32,344',
 '230,623',
 '114,160',
 '119,136',
 '68,236',
 '93,473',
 '164,946',
 '23,662',
 '168,836',
 '166,330',
 '582,702',
 '61,646',
 '44,597',
 '55,109',
 '167,995',
 '34,917',
 '191,696']

Notes:
Copy Full Xpath of first two elements to be scraped. Ex: first two votes
    
'864,896'-->
 /html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[1]/div[2]/p[4]/span[2]

'1,824,776'-->
/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[2]/div[2]/p[4]/span[2]

Notice, div tag is 1 in first and 2 in second.
div[1]/div[2]/p[4]/span[2]
div[2]/div[2]/p[4]/span[2]

using this div tag as base, div[@class='lister-item mode-detail'], move along further to the exact element tag using xpath above== /div[2]/p[4]/span[2]

In [141]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Name":Name,"Year":Year,"Genre":Genre,
                "Runtime":RunTime, "Ratings": Ratings, "Votes":Vote}) 
df

,Name,Year,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,824,961"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"865,035"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"875,073"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,886"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,281"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,597"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,109"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,995"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,917"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,696"

In [142]:
driver.close()

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [110]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Neha Vishnudas Pai\Downloads\chromedriver.exe")
time.sleep(4)

In [111]:
url = 'https://archive-beta.ics.uci.edu/'
driver.get(url)
driver.maximize_window()
time.sleep(6)

In [112]:
# clicking the Datasets button
button=driver.find_element_by_xpath("/html/body/div/div[1]/div/div[1]/div/a[1]")
button.click()
time.sleep(2)

In [118]:
# creating empty lists for scraping data
DatasetName=[]
Views=[]
Task=[]
NoofInstances=[]
Year=[]

In [119]:
time.sleep(3)
# finding the element where Dataset Name is present
name=driver.find_elements_by_xpath("//div[@style='padding: 8px;']/div/li/div/div[2]/div/span/div/div[1]/p/a")
for i in name:
    if i.text is None :
        DatasetName.append("--") 
    else:
        DatasetName.append(i.text)
DatasetName

['2.4 GHZ Indoor Channel Measurements',
 '3D Road Network (North Jutland, Denmark)',
 '3W dataset',
 ': Simulated Data set of Iraqi tourism places',
 'A study of Asian Religious and Biblical Texts',
 'AAAI 2013 Accepted Papers',
 'AAAI 2014 Accepted Papers',
 'Abalone',
 'Abscisic Acid Signaling Network',
 'Absenteeism at work']

In [120]:
time.sleep(3)
# finding the element where Data Type is present
view=driver.find_elements_by_xpath("//div[@style='padding: 8px;']/div/li/div/div[2]/div/p/div/div[3]/h6")
for i in view:
    if i.text is None :
        Views.append("--") 
    else:
        Views.append(i.text)
Views

['92 Views',
 '38 Views',
 '39 Views',
 '28 Views',
 '53 Views',
 '20 Views',
 '19 Views',
 '43498 Views',
 '17 Views',
 '90 Views']

In [124]:
time.sleep(3)
# finding the element where Data Task is present
tas=driver.find_elements_by_xpath("//div[@style='padding: 8px;']/div/li/div/div[2]/div/p/div/div[1]/h6")
for i in tas:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
Task

['Classification',
 'Regression, Clustering',
 'Classification, Clustering',
 'Classification, Clustering',
 'Classification, Clustering',
 'Clustering',
 'Clustering',
 'Classification',
 'Causal-Discovery',
 'Classification, Clustering']

In [125]:
time.sleep(3)
# finding the element where Instances is present
ins=driver.find_elements_by_xpath("//div[@style='padding: 8px;']/div/li/div/div[2]/div/p/div/div[2]/h6")
for i in ins:
    if i.text is None :
        NoofInstances.append("--") 
    else:
        NoofInstances.append(i.text)
NoofInstances

['7840 Instances',
 '434874 Instances',
 '1984 Instances',
 '232 Instances',
 '590 Instances',
 '150 Instances',
 '399 Instances',
 '4177 Instances',
 '300 Instances',
 '740 Instances']

In [126]:
time.sleep(3)
# finding the element where Year is present
yer=driver.find_elements_by_xpath("//div[@style='padding: 8px;']/div/li/div/div[2]/div/p/div/div[4]/h6")
for i in yer:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
Year

['Donated: 2018-11-30',
 'Donated: 2013-04-16',
 'Donated: 2019-08-15',
 'Donated: 2020-01-10',
 'Donated: 2019-12-24',
 'Donated: 2014-07-30',
 'Donated: 2014-07-30',
 'Donated: 1995-12-01',
 'Donated: 2008-04-03',
 'Donated: 2018-04-05']

In [127]:
time.sleep(4)
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Dataset Name":DatasetName,"Views":Views,"Task":Task,
                "No of Instances":NoofInstances, "Year":Year}) 
df

,Dataset Name,Views,Task,No of Instances,Year
0,2.4 GHZ Indoor Channel Measurements,92 Views,Classification,7840 Instances,Donated: 2018-11-30
1,"3D Road Network (North Jutland, Denmark)",38 Views,"Regression, Clustering",434874 Instances,Donated: 2013-04-16
2,3W dataset,39 Views,"Classification, Clustering",1984 Instances,Donated: 2019-08-15
3,: Simulated Data set of Iraqi tourism places,28 Views,"Classification, Clustering",232 Instances,Donated: 2020-01-10
4,A study of Asian Religious and Biblical Texts,53 Views,"Classification, Clustering",590 Instances,Donated: 2019-12-24
5,AAAI 2013 Accepted Papers,20 Views,Clustering,150 Instances,Donated: 2014-07-30
6,AAAI 2014 Accepted Papers,19 Views,Clustering,399 Instances,Donated: 2014-07-30
7,Abalone,43498 Views,Classification,4177 Instances,Donated: 1995-12-01
8,Abscisic Acid Signaling Network,17 Views,Causal-Discovery,300 Instances,Donated: 2008-04-03
9,Absenteeism at work,90 Views,"Classification, Clustering",740 Instances,Donated: 2018-04-05

In [128]:
driver.close()